{% extends "base.html" %}
{% block content %}

<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
            <div class="lg:w-4/5 mx-auto flex flex-wrap">
                <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="https://www.8days.sg/image/12905252/3x4/720/960/5079d465bfb7968a9295d480c93d8f26/hw/hail-the-judge.jpg">
                <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                    <h2 class="text-sm title-font text-gray-500 tracking-widest">LEAD NAME</h2>
                    <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{lead.first_name}} {{lead.last_name}}</h1>
                    <p class="leading-relaxed">Fam locavore kickstarter distillery. Mixtape chillwave tumeric sriracha taximy chia microdosing tilde DIY. XOXO fam indxgo juiceramps cornhole raw denim forage brooklyn. Everyday carry +1 seitan poutine tumeric. Gastropub blue bottle austin listicle pour-over, neutra jean shorts keytar banjo tattooed umami cardigan.</p>
                    <div class="flex">
                    <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded"><a href="{% url 'leads:lead-update' lead.pk %}" style="color:white; text-decoration:inherit;">Update</a></button>
                    <button class="btn-danger flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded"><a href="{% url 'leads:lead-delete' lead.pk %}" style="color:white; text-decoration:inherit;">Delete</a></button>
                    </div>
                </div>
            </div>
    </div>

</section>

{% endblock content %}
